:root {
    --green: #366B5B;
    --black: #101010;
    --grey: #897a7a;
    --transparent: rgba(35, 32, 32, .9);
    --grey-mobile: #f2f2f2;
    
}
//fonts
$roboto: 'Roboto', sans-serif;

//Width for mobile/tablet
$mobile: 767px;
// $tablet: 767px;
$desktop: 991px;