.contacts {    
    &__text {
        margin: 30px 0;
    }
    &__social {
        bottom: 0;
        @media(max-width: $mobile) {
            bottom: -30px;
        }
    }

    &__photo--second {
        @media(max-width: $mobile) {
            display: none;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
}
.input {
    font: 400 18px/21px $roboto;
    letter-spacing: 0.2em;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--green);
    @media (max-width: $mobile) {
        width: 100%;
    }
    @media (min-width: $mobile) and (max-width: $desktop) {
        width: 100%;
    }
}

.btn {
    width: 250px;
    height: 60px;
    color: var(--green);
    border: 2px solid var(--green);
    font: 400 18px/21px $roboto;
    letter-spacing: 0.2em;
    margin: 60px 0;
    background: none;
    cursor: pointer;
    transition: all .3s;
    position: relative;

    &:hover {
        border-color: transparent;
    }

    &::after {
        content: '';
        border-bottom:  2px solid transparent;
        display: block;
        width: 100%;
        position: absolute;
        bottom: -2px;
        transition: all .3s;
        margin: auto;        
    }
    &:hover::after {
        border-bottom: 2px solid var(--green);
        width: 50px;
        bottom: 10px;
        transform: translateX(100px);;           
    }
    @media (max-width: $mobile) {
        width: 100%;
    }
    @media (min-width: $mobile) and (max-width: $desktop) {
        width: 100%;
    }
}