.price {
    &__photo {
        padding-left: 70px;
    }
   
    &__info {
        margin-bottom: 30px;
    }

    .row .price__photo {
        margin-bottom: 50px;
    }
    &__text {
        margin-bottom: 40px;       

        &--big {
            font-size: 36px;
            line-height: 42px;
            font-weight: bold;
            color: var(--green);
            .icon {
                width: 35px;
                position: relative;
                bottom: -5px;

            }
        }
    }
    .line {
        border-top: 2px solid #366B5B;
        padding-top: 40px;
        
    }
}